<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.mapper.sys.SysMenuMapper">

    <sql id="sysMenu">
      menu_id,parent_id,name,path,perms,type,order_num,icon,title,notes
    </sql>

    <resultMap id="sysMenuMap" type="com.core.entity.sys.SysMenu">
        <id column="menu_id" property="menuId" jdbcType="BIGINT"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="notes" property="notes" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="perms" property="perms" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="BIGINT"/>
        <result column="order_num" property="orderNum" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>

        <collection property="children" select="querySysMenuTree" column="menu_id">
        </collection>
    </resultMap>

    <!--查询用户路由信息-->
    <select id="querySysMenuTree" parameterType="java.lang.Integer" resultMap="sysMenuMap">
        select <include refid="sysMenu"></include> from sys_menu sm where parent_id = #{parentId} order by order_num ASC
    </select>

    <resultMap id="sysMenuMaps" type="com.core.entity.sys.SysMenu">
        <id column="menu_id" property="menuId" jdbcType="BIGINT"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="notes" property="notes" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="perms" property="perms" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="BIGINT"/>
        <result column="order_num" property="orderNum" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>

        <collection property="children" select="queryMenuRouterByUserId" column="{parentId=menu_id,userId=user_id}">
        </collection>
    </resultMap>

    <select id="queryMenuRouterByUserId" resultMap="sysMenuMaps">
        select distinct sm.menu_id,sm.parent_id, sm.path,sm.name,sm.title,sm.notes,sm.perms,sm.type,sm.icon,sm.order_num,sur.user_id from `sys_user_role` sur
                left join `sys_role_menu` srm using(role_id)
                left join `sys_menu` sm using(menu_id)
                where sm.type = 3 and sm.parent_id  = #{parentId} and sur.user_id = #{userId}
                order by sm.order_num ASC
    </select>

</mapper>
