<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.mapper.work.WorkMapper">

    <update id="addWorkLookByWorkid">
        update work set work_look = (work_look + 1)
        where work_id = #{workId}
    </update>
    <update id="upWorkSupport">
        update work set work_support = (work_support + 1), work_support_users = #{workSupportUsers}
        where work_id = #{workId}
    </update>
</mapper>
